@import url(nullstyle.css);
@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300&display=swap");
body {
  background-color: #232343;
  background-image: url(../img/body-image/bg-texture.png);
  font-family: 'Poppins', sans-serif;
  color: #fff;
  height: 2000px;
}

html {
  scroll-behavior: smooth;
}

.subtitle {
  color: #ACABAB;
  font-style: 16px;
  font-weight: 500;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.subtitle.anim_show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.title {
  font-size: 22px;
  color: #77A0DD;
  font-weight: 500;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.title.anim_show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.coming-soon {
  color: #77A0DD;
}

.button-clear {
  border: 1px solid #825FCD;
  border-radius: 15px;
  padding: 15px 20px;
  color: #6C93CD;
  background-color: rgba(73, 83, 190, 0);
  cursor: pointer;
}

.button-filled {
  background-color: #6C93CD;
  border: none;
  padding: 15px 15px;
  border-radius: 15px;
  cursor: pointer;
}

.anim__item {
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.anim_show {
  opacity: 1;
}

.picture {
  max-width: 370px;
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1F1F38;
  color: #373590;
  margin-bottom: 20px;
  color: #373590;
  font-weight: 500;
  font-size: 17px;
  border: 1px solid #000;
}

.line:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

#ua {
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

#ua:hover {
  color: #22c8ff;
}

#en {
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

#en:hover {
  color: #373590;
}

.fixed__navigation {
  background: rgba(50, 43, 78, 0.62);
  border: 1px solid #21175F;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(5.5px);
          backdrop-filter: blur(5.5px);
  border-radius: 60px;
  width: 400px;
  height: 70px;
  position: fixed;
  bottom: 80px;
  left: 50%;
  z-index: 100;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transform: translate(-50%, 90%);
          transform: translate(-50%, 90%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fixed__navigation.anim_show {
  opacity: 1;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.fixed__navigation a {
  margin-right: 20px;
}

.fixed__navigation a:last-child {
  margin-right: 0;
}

.fixed__navigation__background {
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6C93CD;
  -webkit-transition: .6s;
  transition: .6s;
}

.fixed__navigation__background.active {
  background-color: #6C93CD;
}

.fixed__navigation__background:hover {
  background-color: #7590f3;
}

.fixed__navigation__item {
  width: 40px;
}

.header {
  width: 100%;
  height: 80px;
}

.header__switch__language {
  float: right;
  margin-right: 5%;
  margin-top: 1.5%;
  color: #77A0DD;
}

.begin {
  width: 100%;
  margin-bottom: 100px;
}

.begin__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.begin__information__title {
  font-size: 18px;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.begin__information__title.anim_show {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.begin__information__name {
  font-size: 22px;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.begin__information__name.anim_show {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.begin__information__subtitle {
  margin-bottom: 1.5%;
  -webkit-transform: translate(0, 150%);
          transform: translate(0, 150%);
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.begin__information__subtitle.anim_show {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.begin__information__buttons a {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: translate(150%, 0);
          transform: translate(150%, 0);
}

.begin__information__buttons a:nth-child(2) {
  -webkit-transform: translate(-150%, 0);
          transform: translate(-150%, 0);
}

.begin__information__button {
  margin-right: 10px;
  -webkit-transform: translate(-150%, 0);
          transform: translate(-150%, 0);
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.begin__information__button:nth-child(2) {
  -webkit-transform: translate(150%, 0);
          transform: translate(150%, 0);
}

.begin__information__button.anim_show {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.begin__content {
  padding-left: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}

.begin__content__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.begin__content__icons__item {
  width: 50px;
  margin-bottom: 10px;
  -webkit-transition: .4s;
  transition: .4s;
}

.begin__content__icons__item:last-child {
  margin-bottom: 0;
}

.begin__content__icons__item:hover {
  width: 53px;
}

.begin__content__photo {
  margin: 0 auto;
}

.begin__content__photo__card {
  max-width: 330px;
  -webkit-filter: drop-shadow(34px 20px 28px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(34px 20px 28px rgba(0, 0, 0, 0.25));
}

.begin__content__scroll {
  color: #6C93CD;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 20px;
}

.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.about__title {
  margin-bottom: 40px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-left: 10%;
}

.about__content__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  top: -200px;
  left: 400px;
  max-width: 600px;
  z-index: 0;
}

.about__content__conteiner {
  margin-right: 80px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__content__conteiner .picture {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 18px;
}

.about__content__conteiner .picture.anim_show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.about__content__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1000%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 3%;
  margin-left: 30px;
}

.about__content__cards__item {
  z-index: 10;
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 33px;
  background-color: #373590;
  margin-right: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.about__content__cards__item:last-child {
  margin-right: 0;
}

.about__content__cards__item:nth-child(1) {
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.about__content__cards__item:nth-child(1).anim_show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.about__content__cards__item:nth-child(2) {
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.about__content__cards__item:nth-child(2).anim_show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.about__content__cards__item:nth-child(3) {
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.about__content__cards__item:nth-child(3).anim_show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.about__content__cards__item.active {
  height: 220px;
}

.about__content__cards__item__header {
  z-index: 100;
  top: -20px;
  border-radius: 16px;
  position: absolute;
  background-color: #555BF2;
  width: 85%;
  height: 110px;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__content__cards__item__header__icon {
  width: 70px;
}

.about__content__cards__item__content {
  position: absolute;
  top: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 0;
  -webkit-transition: .4s;
  transition: .4s;
  opacity: 0;
}

.about__content__cards__item__content.active {
  opacity: 1;
  -webkit-transition: .4s .4s;
  transition: .4s .4s;
  top: 100px;
}

.about__content__cards__item__content__title {
  font-size: 18px;
  color: #77A0DD;
  font-weight: 600;
  margin-bottom: 10px;
}

.about__content__cards__item__content__description {
  color: #98BDF3;
  font-size: 14px;
  max-width: 80%;
}

.about__content__text {
  text-align: left;
  max-width: 100%;
  margin-bottom: 3%;
  color: #d5c6c6;
}

.experience {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.experience__title {
  margin-bottom: 50px;
}

.experience__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience__conteiner__item {
  width: 40%;
  height: 360px;
  background-color: #373590;
  border: 1px solid #3D3AC8;
  border-radius: 50px;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 100px;
}

.experience__conteiner__item:nth-child(1) {
  -webkit-transform: translate(0, -20%);
          transform: translate(0, -20%);
}

.experience__conteiner__item:nth-child(1).anim_show {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.experience__conteiner__item:nth-child(2) {
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
}

.experience__conteiner__item:nth-child(2).anim_show {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.experience__conteiner__item:last-child {
  margin-right: 0;
}

.experience__conteiner__item__title {
  color: #77A0DD;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 7%;
  margin-top: 5%;
}

.experience__conteiner__item__title:nth-child(2) {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
}

.experience__conteiner__item__skill {
  margin-left: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.experience__conteiner__item__skill__collumn {
  margin-right: 25%;
}

.experience__conteiner__item__skill__collumn:last-child {
  margin-right: 0;
}

.experience__conteiner__item__skill__item {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.experience__conteiner__item__skill__item:last-child {
  margin-bottom: 0;
}

.experience__conteiner__item__skill__item__title {
  color: #fff;
  text-align: left;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 18px;
}

.experience__conteiner__item__skill__item__subtitle {
  text-align: left;
  color: #ACABAB;
  font-size: 14px;
}

.experience__conteiner__item__skill__item__icon {
  width: 23px;
  margin-right: 10px;
}

.experience__conteiner__item__skill__item__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.experience__conteiner__item__lines {
  width: 100%;
}

.experience__conteiner__item__lines__item {
  width: 100%;
  height: 75px;
}

.experience__conteiner__item__lines__item:last-child {
  margin-bottom: 0;
}

.experience__conteiner__item__lines_horizontal {
  position: relative;
}

.experience__conteiner__item__lines__flex {
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.experience__conteiner__item__lines__flex__item {
  position: absolute;
  width: 70px;
  height: 100%;
  z-index: 100;
  background-color: #1F1F38;
}

.experience__conteiner__item__lines__flex__item:nth-child(2) {
  right: 10%;
}

.experience__conteiner__item .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1F1F38;
  color: #373590;
  margin-bottom: 20px;
  color: #373590;
  font-weight: 500;
  font-size: 17px;
  border: 1px solid #000;
}

.experience__conteiner__item .line:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.experience__conteiner__item .coming-soon {
  color: #77A0DD;
}

.services {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.services__conteiner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__conteiner__item {
  background-color: #373590;
  max-width: 350px;
  margin-right: 10px;
  height: 550px;
  border-radius: 0px 0px 48px 48px;
  margin-right: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-transform: translate(0, 30%);
          transform: translate(0, 30%);
}

.services__conteiner__item:nth-child(2) {
  -webkit-transform: translate(0, -10%);
          transform: translate(0, -10%);
}

.services__conteiner__item.anim_show {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.services__conteiner__item:last-child {
  margin-right: 0;
}

.services__conteiner__item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: #98BDF3;
  width: 100%;
  height: 100px;
  border-radius: 0px 0px 50px 50px;
  margin-bottom: 30px;
}

.services__conteiner__item__header__title {
  color: #41608E;
  font-weight: 500;
  font-size: 20px;
}

.services__conteiner__item__points {
  margin-left: 11%;
}

.services__conteiner__item__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__conteiner__item__list__item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__conteiner__item__list__item__icon {
  margin-top: 5px;
  width: 22px;
  height: 19px;
  margin-right: 10px;
}

.services__conteiner__item__soon {
  height: 500px;
  width: 350px;
}

.services__conteiner__item__soon__lines_flex {
  padding-left: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
}

.services__conteiner__item__soon__lines_flex__item {
  height: 100%;
  width: 70px;
  position: absolute;
  border-radius: 0 0 0 15px;
}

.services__conteiner__item__soon__lines_flex__item:nth-child(2) {
  right: 20px;
  border-radius: 0px 0 15px 0;
}

.services__conteiner__item__soon__lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__conteiner__item__soon__lines__item {
  width: 100%;
  height: 70px;
}

.portfolio {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 100px;
}

.portfolio__title {
  margin-bottom: 40px;
}

.portfolio__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: 10%;
  margin-left: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__conteiner__card {
  width: 30%;
  height: 460px;
  padding-top: 30px;
  padding-left: 1.5%;
  padding-right: 1.5%;
  background: #373590;
  border-radius: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 40px;
}

.portfolio__conteiner__card:nth-child(1) {
  -webkit-transform: translate(0, -30%);
          transform: translate(0, -30%);
  -webkit-transition: .4s;
  transition: .4s;
}

.portfolio__conteiner__card:nth-child(2) {
  -webkit-transform: translate(0, 30%);
          transform: translate(0, 30%);
  -webkit-transition: .4s .2s;
  transition: .4s .2s;
}

.portfolio__conteiner__card:nth-child(3) {
  -webkit-transform: translate(0, -30%);
          transform: translate(0, -30%);
  -webkit-transition: .4s .4s;
  transition: .4s .4s;
}

.portfolio__conteiner__card.anim_show {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.portfolio__conteiner__card:last-child {
  margin-right: 0;
}

.portfolio__conteiner__card__conteiner {
  margin-bottom: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.portfolio__conteiner__card__picture {
  margin-bottom: 10px;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
  position: relative;
}

.portfolio__conteiner__card__picture .technologies {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  pointer-events: none;
}

.portfolio__conteiner__card__picture img {
  border-radius: 30px;
  -webkit-transition: .4s;
  transition: .4s;
}

.portfolio__conteiner__card__picture:hover {
  -webkit-filter: blur(2px) brightness(80%);
          filter: blur(2px) brightness(80%);
}

.portfolio__conteiner__card__title {
  font-weight: 500;
  place-self: start;
  text-align: left;
  max-width: 70%;
  margin-bottom: 25px;
}

.portfolio__conteiner__card__buttons {
  place-self: start;
}

.portfolio__conteiner__card__button {
  margin-right: 10px;
}

.portfolio__conteiner__card__button:last-child {
  margin-right: 0;
}

.testimonials {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.testimonials__title {
  margin-bottom: 50px;
}

.testimonials__conteiner {
  width: 47%;
  border-radius: 50px;
  background: #373590;
  margin-bottom: 50px;
}

.testimonials__conteiner .swiper-conteiner {
  border-radius: 50px;
}

.testimonials__conteiner__card {
  background: #373590;
  border-radius: 50px;
  width: 100%;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}

.testimonials__conteiner__card__person {
  background-color: #6C93CD;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.testimonials__conteiner__card__person__image {
  width: 45px;
  height: 45px;
}

.testimonials__conteiner__card__name {
  font-weight: 500;
  margin-bottom: 20px;
}

.testimonials__conteiner__card__view {
  font-weight: 500;
  color: #6C93CD;
}

.testimonials__conteiner__button {
  width: 40px;
  height: 40px;
  background: #6C93CD;
  border: none;
  position: static;
}

.testimonials__conteiner__button:after {
  opacity: 0;
}

.testimonials__conteiner__button .drop-arrow {
  border: solid #000000;
  border-width: 0px 3px 3px 0;
  display: inline-block;
  padding: 8px;
}

.testimonials__conteiner__button .drop-arrow-next {
  -webkit-transform: rotate(-44deg);
          transform: rotate(-44deg);
  margin-left: 15px;
}

.testimonials__conteiner__button .drop-arrow-prev {
  -webkit-transform: rotate(-228deg);
          transform: rotate(-228deg);
  margin-left: 30px;
}

.testimonials__conteiner__button .swiper-button-prev {
  place-self: start;
}

.testimonials__slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials__slider__buttons .swiper-button-prev {
  margin-right: 30%;
}

.contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.contact__title {
  margin-bottom: 50px;
}

.contact__conteiner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 150px;
}

.contact__conteiner__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__conteiner__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #373590;
  border-radius: 38px;
  width: 50%;
  height: 200px;
  padding-top: 20px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
}

.contact__conteiner__card:last-child {
  margin-bottom: 0;
}

.contact__conteiner__card__icon {
  -webkit-transition: .4s;
  transition: .4s;
  width: 42px;
  margin-bottom: 15px;
}

.contact__conteiner__card__title {
  font-weight: 500;
  margin-bottom: 10px;
}

.contact__conteiner__card__info {
  margin-bottom: 15px;
}

.contact__conteiner__card__feedback {
  color: #6C93CD;
}

.contact__conteiner__card:hover .contact__conteiner__card__icon {
  width: 48px;
}

.contact__conteiner .form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__conteiner .form__item {
  margin-bottom: 20px;
}

.contact__conteiner .form__item:nth-child(1) {
  -webkit-transform: translate(-30%, 0);
          transform: translate(-30%, 0);
  -webkit-transition: .4s;
  transition: .4s;
}

.contact__conteiner .form__item:nth-child(2) {
  -webkit-transform: translate(-30%, 0);
          transform: translate(-30%, 0);
  -webkit-transition: .4s .4s;
  transition: .4s .4s;
}

.contact__conteiner .form__item:nth-child(3) {
  -webkit-transform: translate(-30%, 0);
          transform: translate(-30%, 0);
  -webkit-transition: .4s .8s;
  transition: .4s .8s;
}

.contact__conteiner .form__item.anim_show {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.contact__conteiner .form__item:last-child {
  margin-bottom: 0;
}

.contact__conteiner .form__input {
  width: 95%;
  border: 2px solid #476CEF;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0);
  height: 100px;
  -webkit-transition: .3s;
  transition: .3s;
  outline: none;
  padding-left: 30px;
  color: #fff;
}

.contact__conteiner .form__input::-webkit-input-placeholder {
  color: #476CEF;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.contact__conteiner .form__input:-ms-input-placeholder {
  color: #476CEF;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.contact__conteiner .form__input::-ms-input-placeholder {
  color: #476CEF;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.contact__conteiner .form__input::placeholder {
  color: #476CEF;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.contact__conteiner .form__input.error {
  border: #fe2121 1px solid;
  -webkit-box-shadow: 0 0 15px #db1717;
          box-shadow: 0 0 15px #db1717;
}

.contact__conteiner .form__input.error::-webkit-input-placeholder {
  color: red;
}

.contact__conteiner .form__input.error:-ms-input-placeholder {
  color: red;
}

.contact__conteiner .form__input.error::-ms-input-placeholder {
  color: red;
}

.contact__conteiner .form__input.error::placeholder {
  color: red;
}

.contact__conteiner .form__message {
  height: 140px;
  padding-top: 20px;
}

.contact__conteiner .form__button {
  width: 30%;
  color: #33478E;
  -webkit-transform: translate(-30%, 0);
          transform: translate(-30%, 0);
  -webkit-transition: .4s 1.2s;
  transition: .4s 1.2s;
}

.contact__conteiner .form__button.anim_show {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.footer {
  background-color: #79A6E9;
  padding-bottom: 150px;
  padding-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.footer__title {
  color: #373590;
  margin-bottom: 30px;
}

.footer__navbar {
  margin-bottom: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 50px;
  margin-left: 50px;
}

.footer__menu__item {
  margin-right: 30px;
}

.footer__menu__item:last-child {
  margin-right: 0;
}

.footer__menu__item a {
  -webkit-transition: .3s;
  transition: .3s;
  color: #584A90;
}

.footer__menu__item a:hover {
  color: #38297a;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.footer__social__item {
  background: #223579;
  border-radius: 24px;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.footer__social__item__icon {
  -webkit-transition: .3s;
  transition: .3s;
  width: 50%;
}

.footer__social__item:hover {
  background-color: #314baa;
}

.footer__social__item:hover .footer__social__item__icon {
  width: 46%;
}

.footer__social a {
  margin-right: 20px;
}

.footer__social a:last-child {
  margin-right: 0;
}

.footer__copyright {
  color: #584A90;
}

@media (max-width: 2820px) {
  .about__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__content__block {
    left: 150px;
  }
  .experience__conteiner__item {
    width: 600px;
  }
  .experience__conteiner__item__title {
    margin-bottom: 3%;
  }
  .portfolio__conteiner__card {
    width: 500px;
  }
}

@media (max-width: 1620px) {
  .portfolio__conteiner__card {
    width: 30%;
  }
}

@media (max-width: 1520px) {
  .experience__conteiner__item {
    width: 42%;
  }
  .experience__conteiner__item__title {
    margin-bottom: 5%;
  }
}

@media (max-width: 1189px) {
  .about__content__conteiner .picture {
    max-width: 300px;
  }
  .about__content__cards__item {
    width: 170px;
    height: 170px;
  }
  .about__content__block {
    max-width: 550px;
    left: 130px;
    top: -160px;
  }
  .portfolio__conteiner__card {
    height: 440px;
  }
  .testimonials__conteiner {
    width: 60%;
  }
}

@media (max-width: 1150px) {
  .experience__conteiner__item__skill {
    margin-left: 5%;
  }
  .experience__conteiner__item .line {
    margin-bottom: 30px;
  }
  .portfolio__conteiner__card {
    height: 420px;
  }
}

@media (max-width: 1130px) {
  .services__conteiner__item__soon {
    display: none;
  }
  .services__conteiner__item {
    margin-right: 0;
  }
}

@media (max-width: 1011px) {
  .begin__content__photo__card {
    max-width: 300px;
  }
  .about__content__conteiner {
    margin-bottom: 20px;
  }
  .about__content__conteiner .picture {
    max-width: 300px;
    max-height: 310px;
  }
  .about__content__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0;
  }
  .about__content__cards__item {
    margin-bottom: 25px;
    width: 150px;
    height: 150px;
  }
  .about__content__cards__item:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
  .about__content__cards__item__header {
    height: 100px;
  }
  .about__content__cards__item__header__icon {
    width: 50px;
  }
  .about__content__cards__item__content__title {
    font-size: 16px;
  }
  .about__content__cards__item__content__description {
    font-size: 12px;
  }
  .about__content__block {
    position: static;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .about__content__text {
    max-width: 80%;
  }
  .experience__conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .experience__conteiner__item {
    width: 58%;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .experience__conteiner__item__skill {
    margin-left: 16%;
  }
  .portfolio__conteiner__card {
    margin-right: 20px;
    height: 400px;
  }
  .contact__conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 0;
  }
  .contact__conteiner__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .contact__conteiner__card {
    width: 300px;
    margin-bottom: 30px;
    margin-right: 30px;
  }
  .contact__conteiner__card:last-child {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .contact__conteiner .form {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__conteiner .form__item {
    width: 70%;
  }
  .contact__conteiner .form__button {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 15%;
    width: 20%;
  }
}

@media (max-width: 958px) {
  .contact__conteiner__card {
    margin-bottom: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 920px) {
  .portfolio__conteiner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolio__conteiner__card {
    height: 355px;
  }
  .portfolio__conteiner__card__title {
    font-size: 15px;
  }
  .portfolio__conteiner__card button {
    padding: 10px 15px;
    font-size: 14px;
  }
  .contact__conteiner__card:nth-child(2) {
    margin-right: 0;
  }
}

@media (max-width: 820px) {
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__content__conteiner {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .about__content__cards__item {
    margin-right: 20px;
  }
  .about__content__cards__item:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
  .about__content__text {
    max-width: 100%;
  }
  .experience__conteiner__item__skill {
    margin-left: 10%;
  }
  .portfolio__conteiner__card {
    width: 300px;
    margin-bottom: 20px;
    margin-right: 30px;
  }
  .portfolio__conteiner__card:nth-child(2) {
    margin-right: 0;
  }
  .portfolio__conteiner__card:last-child {
    -webkit-transition-delay: .2;
            transition-delay: .2;
    margin-bottom: 0;
    -webkit-transform: translate(0, 20%);
            transform: translate(0, 20%);
  }
  .portfolio__conteiner__card:last-child.anim_show {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .testimonials__conteiner {
    width: 70%;
  }
}

@media (max-width: 750px) {
  .experience__conteiner__item {
    height: 330px;
    width: 80%;
  }
  .experience__conteiner__item__title {
    margin-bottom: 5%;
  }
  .experience__conteiner__item__skill {
    margin-left: 20%;
  }
  .experience__conteiner__item__skill__collumn {
    margin-right: 20%;
  }
  .experience__conteiner__item__skill__item {
    margin-bottom: 25px;
  }
  .contact .form__item {
    width: 85%;
  }
  .contact .form__input {
    width: 100%;
  }
  .contact .form__button {
    width: 150px;
    margin-left: 8%;
  }
}

@media (max-width: 690px) {
  .about__content {
    padding-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__content__conteiner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__content__conteiner .picture {
    margin-bottom: 20px;
  }
  .about__content__cards {
    margin-left: 0;
    max-width: 400px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__content__cards__item {
    margin-top: 20px;
  }
  .about__content__cards__item:nth-child(2) {
    margin-right: 0;
  }
  .about__content__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__content__text {
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
  }
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__menu__item {
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
  }
}

@media (max-width: 650px) {
  .begin__content__scroll {
    font-size: 18px;
  }
  .experience__conteiner__item__skill {
    margin-left: 14%;
  }
}

@media (max-width: 630px) {
  .portfolio__conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio__conteiner__card {
    width: 70%;
    height: 430px;
    margin-right: 0;
    padding-right: 3%;
    padding-left: 3%;
  }
  .portfolio__conteiner__card:nth-child(3) {
    display: none;
  }
  .portfolio__conteiner__card button {
    padding: 15px 20px;
    font-size: 16px;
  }
  .testimonials__conteiner__card {
    padding-top: 15px;
  }
  .testimonials__conteiner__card__view {
    font-size: 15px;
  }
  .contact__conteiner__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__conteiner__card {
    margin-right: 0;
    margin-bottom: 20px;
    width: 70%;
  }
  .contact__conteiner__card:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .button-clear {
    font-size: 14px;
    padding: 10px 15px;
  }
  .button-filled {
    font-size: 14px;
    padding: 10px 15px;
  }
  .begin__information__title {
    font-size: 16px;
  }
  .begin__information__name {
    font-size: 18px;
  }
  .begin__content__icons__item {
    width: 40px;
  }
  .begin__content__photo__card {
    max-width: 270px;
  }
  .experience__conteiner__item__skill {
    margin-left: 10%;
  }
  .experience__conteiner__item__lines .line {
    height: 65px;
    font-size: 15px;
  }
  .experience__conteiner__item__lines__flex .line {
    width: 65px;
  }
}

@media (max-width: 540px) {
  .portfolio__conteiner__card {
    height: 400px;
  }
  .contact .form__input {
    font-size: 14px;
    height: 100px;
  }
  .contact .form__message {
    height: 140px;
  }
}

@media (max-width: 520px) {
  .fixed__navigation {
    width: 350px;
  }
  .fixed__navigation__background {
    width: 45px;
    height: 45px;
  }
  .fixed__navigation__item {
    width: 40px;
  }
  .begin__information__title {
    font-size: 14px;
  }
  .begin__information__name {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .begin__information__subtitle {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .begin__content {
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .begin__content__scroll {
    display: none;
  }
  .begin__content__icons {
    display: none;
  }
  .experience__conteiner__item {
    height: 300px;
  }
  .experience__conteiner__item__title {
    font-size: 16px;
  }
  .experience__conteiner__item__skill__item__title {
    font-size: 15px;
  }
  .experience__conteiner__item__skill__item__subtitle {
    font-size: 13px;
  }
  .experience__conteiner__item__skill__item__icon {
    width: 20px;
  }
  .experience__conteiner__item__lines__flex .line {
    width: 55px;
  }
  .testimonials__conteiner {
    width: 80%;
  }
  .contact__conteiner__card {
    width: 80%;
  }
}

@media (max-width: 460px) {
  .experience__conteiner__item {
    width: 90%;
  }
  .services__conteiner__item {
    max-width: 310px;
    height: 500px;
  }
  .services__conteiner__item__points {
    margin-left: 10%;
  }
  .services__conteiner__item__list__item {
    font-size: 15px;
  }
  .portfolio__conteiner__card {
    height: 380px;
    width: 75%;
    padding-right: 4%;
    padding-left: 4%;
  }
  .portfolio__conteiner__card button {
    padding: 10px 15px;
    font-size: 15px;
  }
  .portfolio__conteiner__card:nth-child(1) {
    -webkit-transform: translate(0, -10%);
            transform: translate(0, -10%);
  }
  .portfolio__conteiner__card:nth-child(2) {
    -webkit-transform: translate(0, 10%);
            transform: translate(0, 10%);
  }
  .portfolio__conteiner__card.anim_show {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .testimonials__conteiner {
    margin-bottom: 40px;
  }
  .testimonials__slider__buttons .swiper-button-prev {
    margin-right: 50%;
  }
}

@media (max-width: 450px) {
  .experience__conteiner__item {
    height: 280px;
  }
  .testimonials__conteiner {
    width: 90%;
  }
  .testimonials__conteiner__card__view {
    font-size: 14px;
  }
  .testimonials__conteiner__card__name {
    margin-bottom: 10px;
  }
}

@media (max-width: 410px) {
  .experience__conteiner__item__skill__item__title {
    font-size: 14px;
  }
  .experience__conteiner__item__skill__item__subtitle {
    font-size: 12px;
  }
  .experience__conteiner__item__lines .line {
    height: 60px;
  }
  .portfolio__conteiner__card {
    height: 350px;
  }
  .contact .form__input {
    height: 80px;
  }
  .contact .form__message {
    height: 120px;
  }
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */