.testimonials {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 100px;
  }
  
  .testimonials__title {
    margin-bottom: 50px;
  }
  
  .testimonials__conteiner {
    width: 47%;
    border-radius: 50px;
    background: #373590;
    margin-bottom: 50px;
    cursor: pointer;
  }
  
  .testimonials__conteiner .swiper-conteiner {
    border-radius: 50px;
  }
  
  .testimonials__conteiner__card {
    background: #373590;
    border-radius: 50px;
    width: 100%;
    min-height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .testimonials__conteiner__card__person {
    background-color: #6C93CD;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
  }
  
  .testimonials__conteiner__card__person__image {
    width: 45px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .testimonials__conteiner__card__person__image img {
    border-radius: 50%;
  }
  
  .testimonials__conteiner__card__name {
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .testimonials__conteiner__card__view {
    font-weight: 500;
    color: #6C93CD;
  }
  
  .testimonials__conteiner__button {
    width: 40px;
    height: 40px;
    background: #6C93CD;
    border: none;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .testimonials__conteiner__button:after {
    display: none;
  }
  
  .testimonials__conteiner__button .drop-arrow {
    border: solid #000000;
    border-width: 0px 3px 3px 0;
    display: inline-block;
    padding: 8px;
  }
  
  .testimonials__conteiner__button .drop-arrow-next {
    -webkit-transform: rotate(-44deg);
            transform: rotate(-44deg);
    margin-left: -7px;
  }
  
  .testimonials__conteiner__button .drop-arrow-prev {
    -webkit-transform: rotate(-228deg);
            transform: rotate(-228deg);
    margin-right: -7px;
  }
  
  .testimonials__conteiner__button .swiper-button-prev {
    place-self: start;
  }
  
  .testimonials__slider__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .testimonials__slider__buttons .swiper-button-prev {
    margin-right: 30%;
  }